.App {
  text-align: center;
  width: 30%;
  background-color: bisque;
  position: relative;
  left: 35%;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.timeShowing {
  font-weight: bold;
position: relative;
font-size: 50px;

}

.container{
padding-top: 30px;
padding: 20px;
position: relative;
left: 25%;
width: 50%;
height: 400px;
background-color: orange;
box-sizing: border-box;
border-radius: 30%;
}
.heading{
color: black;
font-weight: bold;
font-size: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





body {
  margin-top: 20px;
  background:gray;
  color: white;
  text-align: center;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


